:root{
  --main-background-color:#1f1d2c;
  --main-blue-color:#2384f8;
  --main--glass-blue-color:#2383f82d;
  --main-white-color:#eff3ff;
  --star-color:#e5aa1b;
  --side-bar-icons-color:#584957;
  --side-bar-text-color:#958d95;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--main-background-color);
  font-family: 'Inter', sans-serif;
}
.all-contents{
  padding-left: 246px;
}
/* Start Header */
.header{
  padding: 25px 50px;
  display: flex;
  align-items: center;
}
.header--mode-switcher{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.mode-switcher--hello-text{
  color: var(--main-white-color);
  font-weight: 600;
}
.mode-switcher--container{
  position: relative;
  border: 1px solid var(--side-bar-text-color);
  border-radius: 20px;
  padding: 3px;
  width: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mode-switcher--ball{
  width: calc(30px - 6px);
  height: calc(30px - 6px);
  border-radius: 50%;
  background-color: var(--main-white-color);
  position: absolute;
  right: 3px;
  transition: all 0.3s ease;
}
.light-mode .mode-switcher--ball{
  transform: translateX(-30px);
}
.header--form{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.from--search-input{
  border: 1px solid var(--side-bar-text-color);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--side-bar-text-color);
}
.from--search-input input{
  color: var(--main-white-color);
  font-size: 18px;
  font-weight: 500;
  background:none;
  border: none;
  outline: none;
  height: 100%;
}
/* End Header */
/* Start SideBar */
.side-bar{
  position: fixed;
  left: 0;
  top: 0;
  padding: 25px 50px;
  height: 100vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.side-bar::before{
  content: '';
  position: absolute;
  top: 25px;
  width: 1px;
  height: calc(100% - 50px);
  background-color: var(--side-bar-icons-color);
  right: 0;
}
.side-bar--logo{
  color: var(--main-white-color);
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 28px;
}
.logo--icon{
  color: var(--main-blue-color);
}
.side-bar--pages-links{
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
  justify-content: center;
}
.pages-links--link{
  list-style: none;
  text-decoration: none;
  padding: 15px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--side-bar-text-color);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}
.pages-links--link.active,
.pages-links--link:hover{
    background-color: var(--main--glass-blue-color);
}
.pages-links--link::before{
  content: '';
  position: absolute;
  left: -15px;
  top: 0;
  height: 100%;
  width: 20px;
  border-radius: 40px;
}
.pages-links--link.active::before,
.pages-links--link:hover::before{
  background-color: var(--main-blue-color);
}
.link--icon{
  color: var(--side-bar-icons-color);
}
/* End SideBar */
/* Start Main */
.main{
  padding: 25px 50px;
}
.landing{

}
.landing-movie{
  position: relative;
}
.landing-movie--image{
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.landing-movie--image img{
  scale: 102%;
  max-width: 100%;
}
.landing-movie--image .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.189);
}
.landing-movie--title{
  color: var(--main-white-color);
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.section-title{
  color: var(--main-white-color);
  font-weight: bold;
  font-size: 30px;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 30px;
}
.movies-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}
.movies-grid--movie-card{
  border-radius: 12px;
  overflow: hidden;
  padding: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.movie-card--image{
  flex: 1;
}
.movie-card--image img{
  max-width: 100%;
  border-radius: 12px;
  height: 100%;
}
.movie-card--title{
  color: var(--main-white-color);
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-card--rating{
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--star-color);
  font-size: 15px;
}
/* End Main */