:root{
  --main-background-color:#1f1d2c;
  --main-blue-color:#2384f8;
  --main--glass-blue-color:#2383f82d;
  --main-white-color:#eff3ff;
  --star-color:#e5aa1b;
  --side-bar-icons-color:#584957;
  --side-bar-text-color:#958d95;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--main-background-color);
  font-family: 'Inter', sans-serif;
}
a{
  text-decoration: none;
  color: currentColor;
}
.all-contents{
  padding-left: 246px;
}
/* Start Header */
.header{
  padding: 25px 50px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.header--mode-switcher{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.mode-switcher--hello-text{
  color: var(--main-white-color);
  font-weight: 600;
}
.mode-switcher--container{
  position: relative;
  border: 1px solid var(--side-bar-text-color);
  border-radius: 20px;
  padding: 3px;
  width: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mode-switcher--ball{
  width: calc(30px - 6px);
  height: calc(30px - 6px);
  border-radius: 50%;
  background-color: var(--main-white-color);
  position: absolute;
  right: 3px;
  transition: all 0.3s ease;
}
.light-mode .mode-switcher--ball{
  transform: translateX(-30px);
}
.header--form{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.from--search-input{
  position: relative;
  border: 1px solid var(--side-bar-text-color);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--side-bar-text-color);
}
.from--search-input input{
  color: var(--main-white-color);
  font-size: 18px;
  font-weight: 500;
  background:none;
  border: none;
  outline: none;
  height: 100%;
}
.suggest-moves-container{
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 999;
  background-color: var(--main-background-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.suggest-moves-container >*{
  display: block;
  padding: 15px;
  width: 100%;
  border: 1px solid var(--side-bar-text-color);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius:6px ;
  -webkit-border-radius:6px ;
  -moz-border-radius:6px ;
  -ms-border-radius:6px ;
  -o-border-radius:6px ;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.suggest-moves-container >*:hover{
  color: var(--main-white-color);
  border-color: var(--main-white-color);
}
/* End Header */
/* Start SideBar */
.side-bar{
  position: fixed;
  left: 0;
  top: 0;
  padding: 25px 50px;
  height: 100vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.side-bar::before{
  content: '';
  position: absolute;
  top: 25px;
  width: 1px;
  height: calc(100% - 50px);
  background-color: var(--side-bar-icons-color);
  right: 0;
}
.side-bar--logo{
  color: var(--main-white-color);
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 28px;
}
.logo--icon{
  color: var(--main-blue-color);
}
.side-bar--pages-links{
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
  justify-content: center;
}
.pages-links--link{
  list-style: none;
  padding: 15px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--side-bar-text-color);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.pages-links--link.active,
.pages-links--link:hover{
    background-color: var(--main--glass-blue-color);
}
.pages-links--link::before{
  content: '';
  position: absolute;
  left: -15px;
  top: 0;
  height: 100%;
  width: 20px;
  border-radius: 40px;
}
.pages-links--link.active::before,
.pages-links--link:hover::before{
  background-color: var(--main-blue-color);
}
.link--icon{
  color: var(--side-bar-icons-color);
}
/* End SideBar */
/* Start Main */
.main{
  padding: 25px 50px;
}
.landing{
  display: flex;
  gap: 30px;
  height: 50vh;
}
.landing >*:first-child{
  flex: 0.7;
}
.landing >*:last-child{
  flex: 0.3;
}
.landing-movie{
  position: relative;
  height: 100%;
}
.landing-movie--image{
  height: 100%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.landing-movie--image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.342);
}
.landing-movie--title{
  color: var(--main-white-color);
  font-weight: bold;
  font-size: 26px;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.categories{
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  flex-direction: column;
}
.categories--title{
  align-self: flex-start;
  color: var(--main-white-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}
.categories-selector{
height: 100%;
width: 100%;
}

.categories .splide {
  height: 100%;
}
.categories .splide__track{
  height: 100%;
}
.categories .splide__list{
  height: 100%;
}
.categories .splide__list >*{
  display: flex;
  align-items: center;
}
.categoris-link{
  background-color: var(--side-bar-icons-color);
  width: 100%;
  padding: 30px 15px;
  border-radius: 24px;
  text-align: center;
  opacity: 0.05;
  color: var(--main-white-color);
}
.splide__slide.is-visible.is-active .categoris-link{
  opacity: 1;
  background-color: var(--main-blue-color);
}
.section-title{
  color: var(--main-white-color);
  font-weight: bold;
  font-size: 30px;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 30px;
}
.movies-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.movies-grid--movie-card{
  border-radius: 12px;
  overflow: hidden;
  padding: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.movie-card--image{
  flex: 1;
}
.movie-card--image img{
  max-width: 100%;
  border-radius: 12px;
  height: 100%;
}
.movie-card--title{
  color: var(--main-white-color);
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-card--rating{
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--star-color);
  font-size: 15px;
}
/* End Main */
/* Start Movie Info */
.movie-info--header{
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: column;
}
.header--movie-big-image{
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  flex: 1;
}
.header--movie-big-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.header--main-btn{
  position: relative;
  color: var(--main-white-color);
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 30px;
  background: none;
  border: 1px solid var(--side-bar-text-color);
  text-transform: uppercase;
  font-size: 18px;
  width: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-info--header .header--main-btn{
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}
.header--main-btn .icon{
  color: var(--main-blue-color);
  position: absolute;
  left: 15px;
  font-size: 21px;
  transition: all 0.3s ease;
}
.movie-info--header .header--main-btn:hover{
  background-color: var(--main-blue-color);
  border-color: var(--main-blue-color);
}
.movie-info--header .header--main-btn:hover .icon{
  color: var(--main-white-color);
}
.movie-info--main-info{
  padding: 50px 0;
}
.main-info--top{
  display: flex;
  gap: 20px;
}
.main-info--movie-small-image img{
  max-width: 100%;
  width: 120px;
  border-radius: 10px;
}
.main-info--infos{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-info--movie-title{
  color: var(--main-white-color);
  font-weight: 600;
  font-size: 32px;
}
.main-info--movie-genres{
  display: flex;
  gap: 8px;
  align-items: center;
}
.main-info--movie-genres >*{
  color: var(--main-white-color);
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid var(--main-white-color);
  opacity: 0.4;
}
.main-info--btns{
  display: flex;
  align-items: center;
  gap: 10px;
}
.movie-info--main-info .header--main-btn{
  background-color: var(--main-blue-color);
  border-color: var(--main-blue-color);
}
.movie-info--main-info .header--main-btn .icon{
  color: var(--main-white-color);
}
.btns--favorite-btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--main-white-color);
  background: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-white-color);
  cursor: pointer;
}
.btns--favorite-btn.active{
  border-color: #ff6666;
  color: #ff6666;
}
.main-info--bottom{
  margin-top: 30px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.movie-info h4{
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-white-color);
}
.main-info--storyline p{
  color: var(--side-bar-text-color);
  line-height: 1.5;
}
.main-info--casts .casts-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-info--casts .casts-list > a{
  width: fit-content;
}
.main-info--casts .cast{
  display: flex;
  gap: 8px;
  align-items: center;
}
.main-info--casts .cast--image{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  overflow: hidden;
}
.main-info--casts .cast--image img{
  max-width: 100%;
}
.main-info--casts .cast--info{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  font-size: 14px;
}
.cast--info .cast--name{
  color: var(--main-blue-color);
}
.cast--info .cast--character{
  color: var(--main-white-color);
}
/* End Movie Info */
/* Start Actor Info */
.actor-info--top{
  height: fit-content;
  display: flex;
  gap: 40px;
  padding: 80px 0;
}
.actor-info--top >*:first-child{
  flex: 0.3;
  overflow: hidden;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.actor-info--top >*:last-child{
  flex: 0.7;
}
.actor-info--image >img{
  max-width: 100%;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.actor-info--name{
  color: var(--main-white-color);
  font-weight: bold;
  font-size: 50px;
}
.actor-info--date{
  color: var(--main-white-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 20px;
  padding: 20px 0;
  text-transform: capitalize;
}
.actor-info--bio > p{
  color: var(--side-bar-text-color);
  line-height: 1.6;
  font-size: 18px;
}
.actor-info--bio + a{
  display: inline-block;
}
.actor-info--see-more-btn{
  background:none;
  color: var(--main-blue-color);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  text-transform: capitalize;
}
.actor-info--imdb-btn{
  position: relative;
  color: var(--main-white-color);
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 30px;
  background: none;
  border: 1px solid var(--main-blue-color);
  background-color: var(--main-blue-color);
  text-transform: uppercase;
  font-size: 18px;
  width: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.actor-info--movies > h3{
  color: var(--main-white-color);
  font-weight: bold;
  font-size: 32px;
}
/* End Actor Info */